! Shared xterm - urxt
*faceName: Monospace:size=9:antialias=true
*cursorBlink: true

! Xft settings
Xft.dpi:        96
Xft.antialias:  true
Xft.rgba:       rgb
Xft.hinting:    true
Xft.hintstyle:  hintslight

! urxvt specific
! https://github.com/powerline/fonts
URxvt.font:     xft:DejaVu Sans Mono for Powerline:regular:size=9
URxvt.boldFont: xft:DejaVu Sans Mono for Powerline:bold:size=9
URxvt.italicFont: xft:DejaVu Sans Mono for Powerline:italic:size=9
UURxvt*scrollTtyOutput:  false
Rxvt*scrollWithBuffer: true
URxvt*scrollTtyKeypress: true
URxvt*scrollBar:  false
URxvt*fading:  15
URxvt*visualBell:  true
URxvt*letterSpace: -2

! Xterm specifc
XTerm*locale: true
Xterm*saveLines: 4096
xterm*borderWidth: 0
XTerm*utf8: 1

! Wombat256 like
*.foreground:   #f6f3e8
*.background:   #242424
*.cursorColor:  #656565

!*.foreground:   #00ff00
!*.background:   #292929
!*.cursorColor:  #00ff00

!!colors ripped from vim color theme "Wombat"
! stolen from https://github.com/mateusz-fiolka/dotf/blob/master/xdefaults/.Xdefaults
*foreground:            rgb:f6/f3/e8
*background:            rgb:24/24/24

!black
*color0:                rgb:0/0/0
*color8:                rgb:25/25/25

!red
*color1:                rgb:e5/78/6d
*color9:                rgb:eb/88/7e

!green
*color2:                rgb:95/e4/54
*color10:               rgb:95/f0/6d

!brown/yellow
*color3:                rgb:ca/e6/82
*color11:               rgb:da/f6/82

!blue
!
*color4:                rgb:6a/a6/c2
*color12:               rgb:7a/b6/d2

!magenta
*color5:                rgb:80/7c/aa
*color13:               rgb:82/7a/b1

!cyan
*color6:                rgb:8a/c6/f2
*color14:               rgb:a1/cd/cd

!white
*color7:                rgb:ff/ff/ff
*color15:               rgb:dd/dd/dd

